certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
filelock==3.4.1
future==1.0.0
huggingface-hub==0.0.12
idna==3.7
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.1
llvmlite==0.36.0
MarkupSafe==1.1.1
nltk==3.6.7
numba==0.53.1
numpy==1.19.5
packaging==21.3
pandas==1.1.5
Pillow==8.4.0
protobuf==3.19.6
pynndescent==0.5.13
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2023.8.8
requests==2.27.1
sacremoses==0.0.53
scikit-learn==0.24.1
scipy==1.5.4
sentence-transformers==2.0.0
sentencepiece==0.2.0
six==1.16.0
tensorboardX==2.4.1
threadpoolctl==3.1.0
tokenizers==0.10.3
torch==1.10.1
torchvision==0.11.2
tqdm==4.64.1
transformers==4.8.1
typing_extensions==4.1.1
umap-learn==0.5.6
urllib3==1.25.11
zipp==3.6.0
